{% extends 'base.html.twig' %}

{% block body %}

<div class="general-window card mb-3">
    <h1 class="h3 font-weight-normal card-header text-primary">Ajouter une Description</h1>
    <div class="card-body">
    
    {{ form_start(form) }}

    {{ form_row(form.texte) }}
    {{ form_row(form.imageFile) }}
    
    <button type="submit" class="btn btn-success"> Modifier </button>
    
    {{ form_end(form)}}
    
    </div>
</div>

{% endblock %}