{% extends 'base.html.twig' %}
 
{% block body %}
<container class="container-login">
<div class="card border-warning mb-3 .container-login" style="max-width: 20rem;">
  <div class="card-header">Connexion</div>
  <div class="card-body">
    {% if app.user %}
        <div>Vous êtes déjà connecté</div>
    {% else %}
        <form action="{{ path('security_login') }}" method="post">
            <div class="form-group">
                <input placeholder="Adresse email ..." required name="_username" type="text" class="form-control">
            </div>
            <div class="form-group">
                <input placeholder="Mot de passe ..." required name="_password" type="password" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Connexion</button>
            </div>
            <br>
            <div>Vous n'avez pas de compte ? Inscrivez-vous <a href="{{ path('security_registration') }}">Inscription</a></div>
        </form>
    {% endif %}
  </div>
</div>
</container>
{% endblock %}
