{% extends 'base.html.twig' %}
 
{% block title %}Reset Password !{% endblock %}
 
{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.nouveau_motDePasse) }}
    {{ form_row(form.confirm_nouveauMotDePasse,{ 'label' : 'Confirmation du mot de passe'}) }}
    <button type="submit" class="btn btn-success"> Modifier </button>
    {{ form_end(form)}}
{% endblock %}