{% extends 'base.html.twig' %}
 
{% block title %}Modifier mot de passe {% endblock %}

{% block body %}
<div class="general-window card">
    <div class="card-body">
    {{ form_start(form) }}
        {{ form_row(form.nouveau_motDePasse) }}
        {{ form_row(form.confirm_nouveauMotDePasse,{ 'label' : 'Confirmation du mot de passe'}) }}
        <button type="submit" class="btn btn-success"> Modifier </button>
    {{ form_end(form)}}
    </div>
</div>
{% endblock %}