html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body {
    background-color: #434B38;
    background-image: url('/images/resources/fond.png');
    background-attachment: fixed;
    background-size: cover;
}
.navbar-text-custom {
    color: #f4f270 !important;
    padding: 0rem;
    font-weight: bold;
}
.bg-navbar-custom{
    background-color: #3fc6b7;
}
.navbar-custom{
    padding: 0rem 0rem;
    width: 100%;
}
.nav-item-custom{
    padding: 0.2rem 0.4rem;
}
.bg-button-custom{
    background-color: #35a89b;
}
h1{
    COLOR: white;
    font-family: serif;
}
.facility{
    position: absolute;
    z-index: 2;
    left: 4em;
    right: 4em;
    top: 0;
    bottom: 0;
    padding-top: 8em;
    display: flex;
    flex-direction: column;
}
.bg-facility{
    position: fixed;
    z-index: 1;
    left: 4em;
    right: 4em;
    top: 0;
    bottom: 0;
    background: black;
    opacity: 0.5;
}
.container-facility{
    width: 100%;
    height: 100%;
}
.map-layout{
    width: 240px !important;
    height: 240px !important; 
    margin: 2em;
}
.facility-layout{
    width: 100%;
    padding: 2em;
}
.facility-disp{
    object-fit: contain;
    height: 100%;
    width: 100%;
}
.events-layout{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 6em;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
}
.event-img-layout{
    width: 100%;
}
@media screen and (min-width: 1100px){
    .big-screen{
        width: 90%;
    }
    .galop-layout{
        font-size: 0.8em !important;
    }
    .event-image{
        flex: 3 !important;
    }
    .event-content{
        flex: 3 !important;
    }
    
    .image-band-layout{
        height: 7em !important;
    }
    .carousel-pusher{
        width: 50% !important;
        margin-left: -28em !important;
    }
    .image-thumbnail{
        margin-left: 0.5em !important;
        margin-right: 0.5em !important;
        max-height: 10em !important;
        width: 10em !important;
    }
    .image-thumbnail:hover{
        max-width: 30% !important;
    }
    .event-history-item{
        flex: 16% !important;
    }
    .history-item-txt{
        font-size: 1.3em !important;
        margin-top: -9em !important;
    }
    .event-body-text{
        font-size: 1em !important;
    }
    .contact{
        flex-direction: row !important;
    }
    .facility{
        flex-direction: row !important;
    }
}

.bg-event-date{
    background-color: #f4f957 !important;
}
.event-container{
    display: flex;
    align-items: center;
    width: 85%;
}
.title-pres{
    display: flex;
    justify-content: space-between;
    background-color: #77d1bd;
}
.corners{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.corner-top-left{
    float: left;
    height: 50%;
    width: 100%;
}
.corner-bottom-left{
    float: left;
    height: 50%;
    width: 100%;
}
.corner-bottom-right{
    float: right;
    height: 50%;
    width: 100%;
}
.corner-top-right{
    float: right;
    height: 50%;
    width: 100%;
}
.right-corners{
    align-items: flex-end;
}
.event-date-layout{
    flex: 1;
    display: flex;
    flex-direction: column;
    list-style-type: none;        
    padding: 0.3em;
    justify-content: center;
    margin: 0em;
    font-size: 0.8em;
    position: relative;
}
table{
    margin-bottom: 0.5em;
    width: 100%;
    table-layout: fixed;
}
.thumb-layout{
    width: 100%;
}
td{
    text-align: center;
    padding: 0.5em;
    display: table-cell;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tarifs-galops-container{
    display: flex;
    margin-bottom: 1.3em;
    padding: 0.2em;
    align-items: center;
    margin-left: -1.4em;
    margin-right: -1.4em;
}
.tarifs-layout{
    flex: 4;
    min-width: 14em !important;
    margin-bottom: 0 !important;
    width: 66%;
}
.tarifs-layout > td {
    display: block;
}
.date-text{
    display: inline;
    COLOR: #176aed;
}
.index-text{
    padding: 0 !important;
}
@media screen and (max-width: 991px){
    .layout-pdf{
        top: 7.3rem !important;
    }
}
@media screen and (max-width: 850px){
    .profile-modifs{
        width: 50% !important;
    }
    .pres-image-container{
        padding-top: 6em !important;
    }
    .corner-top-left{
        height: 40% !important;
        width: 100% !important;
    }
    .corner-bottom-left{
        height: 40% !important;
        width: 100% !important;
    }
    .corner-bottom-right{
        height: 40% !important;
        width: 100% !important;
    }
    .corner-top-right{
        height: 40% !important;
        width: 100% !important;
    }
    .event-image{
        flex: 3 !important;
    }
    .event-content{
        flex: 3 !important;
    }
    .mobile-layout{
        font-size: 0.8em;
        width: 100%;
        padding:1em;
        padding-left: 2em;
        padding-right: 2em;
    }
    .index-more-button{
        font-size: 1em;
        margin-top: 0.3em !important;
        margin-bottom: 0.3em !important;
    }
    .mobile-title{
        font-size: 2em;
    }
    .mobile-web-title{
        font-size: 1.5em !important;
        overflow: hidden;
    }
    .mobile-index-layout{
        flex-direction: column;
    }
    .events-layout{
        margin-top: 6em;
    }
    .galop-layout{
        font-size: 0.8em !important;
    }
    .event-date-layout{
        padding-top: 0.3em;
        padding-bottom: 0.3em;
    }
    .image-thumbnail{
        max-height: 5em !important;
        width: 5em !important;
    }
    .carousel-pusher{
        margin-left: -13em !important;
    }
    .image-band-layout{
        height: 4.2em !important;
    }
    .galop-layout{
        margin: 0.2em !important;
    }
    .form-container{
        flex-direction: column;
    }
    .asso-layout{
        margin-top: -4em !important;
    }
    .facility{
        flex-direction: column;
        left: 0;
        right: 0;
        padding-top: 6em;
    }
    .bg-facility{
        right: 0 !important;
        left: 0 !important;
    }
    .map-layout{
        margin-top: 4em;
    }
    .registration-layout{
        width: 90% !important;
        margin-top: 5em !important;
    }
    .container-profile{
        margin-top: 3em;
        width: 95% !important;
        flex-direction: column;
        align-items: center;
    }
    .profile-card{
        width: 90% !important;
    }
    .flash-element{
        width: 60% !important;
        margin-left: 15% !important;
        margin-right: 15% !important;
    }
    .arrow{
        overflow: hidden;
        width: 0 !important;
        height: 0 !important;
    }
    .event-layout{
        flex-direction: column-reverse !important;
        align-items: center !important;
        margin-top: 4em !important;
    }
    .event-controls-container{
        flex-direction: column !important;
        align-items: stretch !important;
    }
    .event-thumbnail{
        margin-left: 2em !important;
        align-self: flex-end !important;
    }
    .event-controls{
        margin-right: 2em !important;
    }
    .event-image-list{
        margin-top: -14em !important;
        padding-top: 16em !important;
        width: calc(100% + 10em) !important;
        margin-left: -5em !important;
        margin-right: -5em !important;
        padding-left: 5em !important;
        padding-right: 5em !important;
        max-height: none !important;
    }
    .layout-pdf{
        top: 4.5rem !important; 
    }
}
@media screen and (max-width: 750px){
    .event-element{
        flex: 85% !important;
    }
    .event-history-item{
        flex: 28% !important;
        margin: 0.5em !important;
    }
    .event-history{
        margin-top: 8em !important;
    }
    .map-layout{
        margin-top: 2em !important;
    }
    .date-container-wrapper{
        max-height: 4.5em;
    }
    .facility-image-title{
        font-size: 1.5em;
    }
}
.header-custom{
    top: 0;
    position: fixed;
    z-index: 9;
    width: 100%;
    display: flex;
    flex-direction: column;
}
@font-face {
    font-family: titleFont;
    src: url("/fonts/segoesc.ttf");
}
.website-title{
    font-size: 3.5em;
    margin-top: 0.2em !important;
    padding: 0.05em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 0;
    text-align: left;
    background-color: #77d1bd;
    font-family: titleFont;
    color: #e8de4f;
}
.bg-transparent-blue{
    background-color: #418aa2;
    opacity: .4;
}
.custom-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.index-event-content{
    display: flex;
}
.index-img-layout{
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
}
.event-element{
    flex: 35%;
    margin: 1em;
}
.event-outer{
    display: flex;
    height: 10em;
}
.event-content{
    flex: 60%;
    display: flex;
    flex-direction: column;
}
.event-title{
    flex: 5;
    font-size: 0.6em;
    padding-top: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    height: 100%;
    overflow: hidden;
}
.event-date{
    flex: 5;
    display: flex;
    justify-content: space-between;
}
.event-corners{
    display: flex;
    justify-content: space-between;
}
.event-galops{
    flex: 3;
}
.event-image{
    flex: 40%;
}
.event-image-inner{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.index-text-layout{
    padding: 1em;
    flex: 4;
}
.index-event-title{
    font-size: 2em;
    padding-top: 0.2em !important;
    padding-bottom: 0.3em !important;
}
.index-title-wrapper{
    max-height: 5.5em !important;
    margin-bottom: 0.5em !important;
}
.index-more-button{
    text-align: right;
    margin: 0.3em;
    padding-top: 0.1em !important;
    padding-bottom: 0.1em !important;
}
.event-more-button{
    margin-top: 1em;
}
.event-text-transition{
    margin-bottom: 1em;
}
.container-login{
    display: flex;
    justify-content: center;
    margin-top: 10em;
    padding: 1em;
}
.layout-pdf{
    position: absolute;
    top: 6.9rem;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.object-pdf-layout{
    height: 100%;
    width: 100%;
}
.galop-layout{
    margin: 0.3em !important;
    align-self: center;
    justify-content: center;
    color: white;
    padding: 0 0 !important;
    font-size: 0.7em;
}
.galop-layout:hover{
    color: white !important;
}
.event-galops-layout{
    min-width: 5em;
    min-height: 7em;
}
.galops-layout{
    flex: 2;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-content: center;
    width: auto;
}
.galops-text{
    flex: 1;
    padding-left: 1em;
    padding-top: 0.3em; 
}
.galops-inner{
    flex: 3;
    display: flex;
    justify-content: flex-start;
    margin-left: 0.2em;
    flex-wrap: wrap;
}
.index-galops{
    justify-content: left;
}
.index-galops-container{
    margin-bottom: 1.3em;
}
.galops-container{
    display: flex;
}
.galops-container-btn{
    flex: 1;
}
.image-band-layout{
    background-color: #77d1bd;
    width: 100%;
    height: 5.5em;
    margin-top: 1em;
    padding-top: 0.5em;
    margin-bottom: -5em;
    justify-content: space-around;
    transition: all .2s ease-in-out;
    z-index: 5;
}
.band-container{
    z-index: 7;
    display: flex;
    justify-content: space-between;
}
.image-band-left{
    margin-top: -5.7rem;
    height: 11.2em;
    flex: 1;
    width: 50%;
    background-color: red;
    margin-right: 40%;
    z-index: 7;
}
.image-band-right{
    margin-top: -5.7rem;
    height: 11.2em;
    flex: 1;
    width: 50%;
    background-color: green;
    margin-left: 40%;
    z-index: 7;
}
.image-band-left:hover{
    background-color: black;
}
.image-band-right:hover{
    background-color: black;
}
.image-thumbnail{
    width: 7em;
    max-height: 7em;
    object-fit: contain;
    padding: 0.5em;
    transition: all .2s ease-in-out;
}
.image-thumbnail:hover{
    transform: scale(1.1);
}
.image-container{
}
.carousel-custom{
    overflow: visible;
    white-space: nowrap;
}
.carousel-pusher{
    width: 50%;
    margin-left: -18em;
    height: 8em;
    float: left;
}
.carousel-indic-custom{
    z-index: -1;
    margin-bottom: -0.25em;
}
.container-profile{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    margin-top: 7em;
    padding: 1em;
}
.profile-card{
    width: 50%;
}
.profile-layout{
    display: flex;
}
.profile-info{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.profile-modifs{
    display: flex;
    justify-content: center;
    margin: 2em;
    width: 30%;
    min-width: 10em;
}
.profile-button{
    margin: 1em;
    width: 80%;
}
.profile-data{
    width: 80%;
}
.profile-modifs-wrapper{
    height: min-content;
}
@media screen and (max-width: 475px){
    .profile-modifs{
        width: 70% !important;
    }
    .image-band-layout{
        margin-top: 8em !important;
    }
    .image-thumbnail{
        height: 4em !important;
        max-width: 4em !important;
    }
    .image-thumbnail:hover{
        max-width: 30% !important;
    }
    .carousel-pusher{
        margin-left: -10.5em !important;
    }
    .flash-element{
        width: 90% !important;
        margin-left: 5% !important;
        margin-right: 5% !important;
    } 
    .galop-layout{
        margin: 0.1em !important;
        padding: 0em !important;
        padding-right: 0em !important;
        padding-left: 0em !important;
    }
    .registration-layout{
        width: 95%;
    }
    .reg-outer{
        flex-direction: column !important;
    }
    .event-image{
        flex: 2 !important;
    }
    .event-content{
        flex: 3 !important;
    }
    .event-history-item{
        flex: 43% !important;
    }
    .facility-image-title{
        font-size: 1.1em !important;
    }
    .map-and-text{
        flex-direction: column !important;
    }
}
.navbar-logo-custom{
    margin-right: 0.2em !important;
    margin-bottom: 0.2em !important;
}
.asso-layout{
    padding-top: 0em;
    margin-top: -7em;
}
.form-container{
    display: flex;
    margin-bottom: 0.5em;
}
.form-element{
    flex: 1;
    display: flex;
    justify-content: space-between;
}
.registration-layout{
    margin-top: 9em;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.reg-row-layout{
    display: flex;
    width: 100%;
}
.reg-inner{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    justify-content: flex-start;
}
.reg-pusher{
    margin-right: 1em;
}
.reg-outer{
    display: flex;
    flex-direction: row;
    align-content: space-between;
}
.upload-btn{
    margin-bottom: 1em;
}
.save-button{
    margin-top: 1em;
}
.event-choice{
    width: 7em;
}
.profile-image{
    width: 40%;
    height: auto;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}
.container-creer-event{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    margin-top: 3em;
    padding: 1em;
}
.creer-event-layout{
    padding: 2em;
}
.flash-layout{
    margin-top: 6em;
    position: fixed;
    z-index: 30;
    margin-bottom: -5em;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    display: flex;
    flex-direction: column;
}
.flash-element{
    opacity: 0.75;
}
.adresse-layout{
    max-height: 9em; 
}
.creneaux-container{
    display: flex;
    flex-direction: row;
    padding: 1em;
    flex-wrap: wrap;
}
.creneaux-container label{
    background-color: white;
    flex: 0 80%; 
    margin-right: 3em; 
    margin-bottom: 0 !important;
    margin: 0.4em;
}
.creneaux-container input{
    flex: 0 10%;
    margin-top: 0.65em;
}
.contact-layout{
    margin-left: 3em;
    margin-right: 3em;
    color: white;
}
.google-map-layout{
    flex: 30%;
    height: 30em;
    margin: 3em;
}
.event-history{
    margin-top: 9em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.event-history-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 20%;
    margin: 1rem;
    height: 12rem;
    overflow: hidden;
    flex-grow: 0 !important;
}
.event-history-item:hover{
    background-color: #1c1c1c;
}
.event-history-item:hover img{
    filter: brightness(30%) blur(1px);
}
.event-history-item:hover .history-item-txt{
    color: #69d1c5;
}
.history-item-img{
    position: relative;
    z-index: 1;
    filter: brightness(50%) blur(2px);
    object-fit: cover;
    height: 100%;
}
.history-item-txt{
    position: relative;
    z-index: 2;
    margin: 1em;
    margin-top: -11em;
    color: white;
    font-size: 1em;
}
.bg-custom-dark{
    background-color: #212120;
}
.bg-custom-light{
    background-color: #d8e3df;
}
.history-item-btn{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
}
.general-window{
    margin-top: 13em;
    margin-left: auto;
    margin-right: auto;
    max-width: 30em;
    overflow: hidden;
}
.pres-image-container{
    width: 100%;
    background-color: #77d1bd;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 9em;
}
.pres-image{
    display: flex;
    height: 6em;
    max-width: 25em;
    margin-top: 1em;
}
.pres-thumbnail{
    height: 100%;
}
.presentation{
    overflow: auto;
    padding-left: 0.5em;
    padding-right: 1em;
}
.event-layout{
    width: 100%;
    margin-top: 8em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.event-info{
    flex: 2;
    margin: 2em;
}
.event-thumbnail{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    flex: 1;
    margin: 2em;
    margin-left: -35%;
    transition: all .4s ease-in-out;
}
.event-first-image{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    margin: 0;
    max-height: 50em;
}
.event-image-list{
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: 0;
    width: 75%;
    background-color: #3d3f40;
    margin-bottom: -2em;
    overflow: hidden;
    transition: all .4s ease-in-out;
    max-height: 0;
}
.event-image-list > img{
    object-fit: contain;
}
.event-thumbnail-image{
    object-fit: contain;
    width: 100%;
}
.thumbnail-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.event-controls{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    flex: 1;
    margin: 2em;
    margin-right: -1em;
    transition: all .4s ease-in-out;
}
.arrow-container{
    display: flex;
    align-items: center;
}
.arrow{
    margin-top: auto;
    margin-bottom: auto;
}
.arrow p{
    margin: auto !important;
    text-align: center;
    font-size: 1.5em;
    color: white;
}
.event-text{
    font-size: 1.5em !important;
}
.event-galop-layout{
    padding: 0.2em;
    margin-top: auto;
    margin-bottom: auto;
    align-self: flex-start !important;
}
.galop-text{
    color: white;
    font-size: 0.8em;
    margin: auto;
    border: 0 !important;
    padding: 0.1em !important;
}
.event-body-text{
    font-size: 1.2em;
}
.clickable-event{
    text-decoration: none !important;
}
@media screen and (max-width: 991px){
    .navtext > ul > li > a{
        font-size: 2em !important;
    }
    .navlogo > ul > li > a > img{
        width: 1em !important;
    }   
    .general-mobile-text div textarea, .general-mobile-text div, .general-mobile-text input, .general-mobile-text div a, .general-mobile-text{
        font-size: 1.1em;
    }
}
.divers-container{
    margin: auto;
    margin-top: 9em;
    max-width: 60rem;
}
.index-divers-title{
    flex: 1 !important;
}
.divers-images-layout{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}
.divers-image{
    position: relative;
    flex: 50%;
    padding: 1em;
}
.divers-thumbnail-image{
    object-fit: cover;
    width: 100%;
}
.divers-thumbnail-image :hover{
    object-fit: contain;
}
.divers-videos-layout{
    margin-left: -1.4em;
    margin-right: -1.4em;
}
.divers-video{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.event-corner{
    display: flex;
    justify-content: space-between;
}
.event-controls-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0em;
}
.image-list-empty{
    padding: 0 !important;
}
.map-and-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.facility-image-title{
    margin: 0.5em;
    text-align: right;
}
.contact{
    display: flex;
    flex-direction: column;
}
.mb1{
    margin-bottom: 1em !important;
}
.mt8{
    margin-top: 8em !important;
}
.mini-thumb{
    width: 3em;
    margin: 0.1em;
}
.x-btn{
    margin: 0 !important;
    padding: 0.2em !important;
}
.inscri{
    display: flex;
    flex-direction: column-reverse;
}
.x-hide{
    margin-bottom: -1em !important;
    margin-right: -1em !important;
    align-self: flex-end;
}
.userlist-event{
    display: flex;
    flex-direction: column;
}