{% extends 'base.html.twig' %}

{% block body %}

<div class="card general-window">
  <div class="card-header">Règles de confidentialité de l'application</div>
  <div class="card-body">
    <p>L'application des Ecuries du Sundgau ne récolte aucune information personnelle sur son utilisateur.<br>
       Elle n'utilise que la connexion Internet pour effectuer des redirections à la demande de l'utilisateur.<br> 
       L'application n'utilise des fichiers internes que pour détecter les changements sur le site des Ecuries du Sundgau.
    </p>
  </div>
</div>

{% endblock %}