{% extends 'base.html.twig' %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
<div>Ajouter pdf ( contact.pdf ou localisation.pdf ou tarif.pdf)</div>
    {{ form_start(formPdf) }}
    

    <button type="submit" class="btn btn-success">Enregistrer</button>
    {{ form_end(formPdf) }}
    
{% endblock %}