{% extends 'base.html.twig' %}

{% block body %}
  <div class="card general-window">
    <h2 class="card-header">Ajouter/Modifier le pdf de la page contact</h2>
    <div class="card-body">
      {{ form_start(formPdf) }}
      {{ form_end(formPdf) }}  
      <button type="submit" class="btn btn-success">Enregistrer</button> 
    </div>
  </div>
{% endblock %}