{% extends 'base.html.twig' %}
{% block scripts %}

<script>
function display(i){
    var image = document.getElementById("displayScreen");   
    if(i == 1){
        image.src = "http://placehold.it/1111x500";
    } else if(i == 2) {
        image.src = "http://placehold.it/2222x1000";
    } else {
        image.src = "http://placehold.it/3333x1500";
    }
}
</script>

{% endblock %}
{% block body %}
    <div class="facility">
        <map name="infographic">
            <area shape="poly" coords="130,147,200,107,254,219,130,228"
                onclick="display(1)" alt="HTML" />
            <area shape="poly" coords="130,147,130,228,6,219,59,107"
                onclick="display(2)" alt="CSS" />
            <area shape="poly" coords="130,147,200,107,130,4,59,107"
                onclick="display(3)" alt="JavaScript" />
        </map>
        <img class="map-layout" usemap="#infographic" src="http://placehold.it/300x300" alt="MDN infographic" />
    
    <img class="facility-layout" id="displayScreen" src="http://placehold.it/1600x900">
    </div>
{% endblock %}