{% extends 'base.html.twig' %}

{% block body %}
<<<<<<< HEAD
<a href="{{ asset('uploads/brochures/' ~ product.brochure) }}">View brochure (PDF)</a>
=======
<div class="layout-pdf">
<object class="object-pdf-layout" data="https://www.u-paris2.fr/sites/default/files/pdf.pdf" />
</div>
>>>>>>> 12bd302f448aabdb5943684ecd99359f834b5674
{% endblock %}