{% extends 'base.html.twig' %}

{% block body %}

<section class="events-layout big-screen mobile-layout">
    <event class="card mb-3">
        <img class="event-img-layout" src="/images/properties/{{ image.imageName }}">
        {{ dump(image) }}
    </event>
    <HR width="50%" size="10" noshade />

</section>

{% endblock %}